# Node
node_modules/
dist/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.venv/

# Docker
docker-compose.override.yml
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
