fastapi[standard]>=0.111.0
uvicorn>=0.30.0
sqlalchemy>=2.0.30
asyncpg>=0.29.0
alembic>=1.13.1
pydantic>=2.7.4
pydantic-settings>=2.3.4
pyjwt>=2.8.0
passlib[bcrypt]>=1.7.4
bcrypt>=3.2.0,<4.0.0
pysnmp>=7.0.2
celery>=5.4.0
redis>=5.0.4
